*{
  text-decoration: none;
}
.wrapper {
  padding-left: 20px;
  background: linear-gradient(
    to top,
    rgb(250, 138, 213),
    90%,
    rgb(239, 88, 253)
  );
  /* background: linear-gradient(to top,
    rgb(43, 41, 41),
    90%,
    rgb(22, 22, 22)); */
    
  height: 100vh;
  min-height: 100%;
  width: 100%;
 
}
.section{
  display: flex;
  row-gap: 30px;
  column-gap: 30px;
}


.title {
  color: rgb(207, 207, 207);
  font-size: 35px;
  width: 100%;
}
.dialog{
  background-color: black;
}
.message {
  text-decoration: none;
  margin-top: 22px;
  display: flex;
  align-items: center;
  font-size: 17px;
}
.dialog:hover{
  color: gold;
  text-decoration: none;
}
.avatars {
  width: 45px;
  height: 45px;
  border-radius: 60px;
}
.info_icon {
  height: 30px;
  width: 30px;
}
.icons {
  margin-left: 10px;
  display: flex;
}
.icon {
  width: 35px;
  height: 35px;
  padding: 0px 20px;
}

.button {
  font-size: 25px;
  
}