.wrapper{

  padding-top: 20px;
  padding-left: 20px;
}

.title{
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(22, 22, 22);
}

.main_content {
  display: grid;
  grid-template-areas:
  "section section section section section section"
  "section section section section section section";
}
@media (max-width: 1260px) { 
  .section img {
    height: 150px;
    width: 150px;
  }
 }
 @media (max-width: 720px) { 
  .section img {
    height: 175px;
    width: 175px;
  }
 }
.section img {
  height: 175px;
  width: 175px;
    border-radius: 8px;
    background: center center no-repeat;
    background-size: cover;
    opacity: 0.7;
    transition: 0.2s; 
  
}
.section img:hover {
  opacity: 1;
}
.section p {
font-size: 24px;
color: rgb(22, 22, 22);
}