.container {
    font-family: /* ваш выбранный шрифт */;
    height: 100vh;
    width: 100vw;
    background: /* ваш выбранный фон */;
  }
  
  .title {
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  
  .logo {
    background: linear-gradient(to bottom right, #6b46c1, #4f46e5);
    border-radius: 9999px;
  }
  
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .form {
    width: 100%;
    max-width: 28rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem 4rem;
    background: linear-gradient(to bottom right, #6b46c1, #4f46e5);
  }
  
  .formTitle {
    font-size: 2.5rem;
    color: white;
    padding-bottom: 1rem;
  }
  
  .loginLinkContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  
  .loginLinkText {
    font-size: 2rem;
    color: white;
  }
  
  .loginLink {
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }