
.posts{
line-height: 20px; 

}
.avatars {
    width: 45px;
    height: 45px;
    border-radius: 60px;
}
.posts button{
    font-size: 25px;
    margin-left: 10px;
}
.posts textarea {
    margin-left: 10px;
}

.my_posts{
 font-size: 35px;
 margin-left: 10px;
}