@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");
* {
  font-family: "Poor Story", cursive;
}

.app-wrapper {

  border: 0 solid black;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 100%;
  height: max-content;
}

