.nav {
  grid-area: nav;

  background: linear-gradient(106deg, #aea4e3, #d3ffe8);
  height: 100vh;
  min-height: 100%;
  width: 100%;
}
.nav_title .active {
  background-size: 20px;
  transform: translateY(-10px);
  color: blue;
}
.item a {
  margin: 15px;

  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: fit-content;
  text-decoration: none;
  color: black;
  padding-right: 10px;
  text-decoration: none;
  background-size: 20px;
  transform: translateY(-10px);
}
.item:last-child {
  padding-top: 20px;
}

.item:hover {
  transition: transform 0.2s;
  background-size: 20px;
  transform: translateY(-10px);
  color: blue;
}
.avatars {
  width: 45px;
  height: 45px;
  border-radius: 60px;
  margin-left: 15px;
}
/* 
background: linear-gradient(
  217deg,
  rgba(248, 44, 156, 0.8),
  rgba(255, 0, 0, 0) 70.71%
),
linear-gradient(127deg, rgba(248, 17, 190, 0.8), rgba(0, 255, 0, 0) 70.71%),
linear-gradient(
  336deg,
  rgba(202, 44, 250, 0.8),
  rgba(247, 4, 255, 0) 70.71%
); */